* {
    box-sizing: border-box;
}

html {
    font-family: main-font;
    font-weight: 400;
    font-size: font-size-base;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

button, input[type="submit"] {
    border: none;
}

.container {
    center(container-width, 20px);
}

body {
    height: 100%;
}

.b-playlist {
    min-height: 100%
    height: auto;
    padding-top: 50px;
}
