//color specs / high = lighter

grapefruit-high = #ed5565;
grapefruit-low = #da4453;

aqua-high = #4fc1e9;
aqua-low = #3bafda;

light-gray-high = #f5f7fa;
light-gray-low = #e6e9ed;

dark-gray-high = #656d78;
dark-gray-low = #434a54;

//font specs

font-size-base = 16px;
main-font = 'Lato', sans-serif;

//path specs

font-path = '../fonts/';
img-path = '../img/';

//structure specs

container-width = 1024px;


