<header class="navbar navbar--inner">
    <nav class="navbar__container container">
        <ul class="navbar__list">
            <li>
                <a href="/" class="navbar__item">warmapp</a>
            </li>
        </ul>
        <ul class="navbar__list navbar__list--right">
            <li>
                <a href="javascript:;" class="navbar__item">Saiba mais</a>
            </li>
        </ul>
    </nav>
</header>
