<section class="playlist__wrapper">
    <div class="playlist__commands">

    </div>
    <ul class="playlist">
        <li>
            <a href="javascript:;" class="playlist__item is-active">
                <span class="song__title">Rock'n'Roll</span>
                <span class="song__sender">Janaina da Lavoura</span>

                <img src="http://www.gravatar.com/avatar/219b9732bbea696a1e85423970e1015e" alt="" class="song__avatar">
            </a>
        </li>
        <li>
            <a href="javascript:;" class="playlist__item">
                <span class="song__title">Rock'n'Roll</span>
                <span class="song__sender">Janaina da Lavoura</span>

                <img src="http://www.gravatar.com/avatar/219b9732bbea696a1e85423970e1015e" alt="" class="song__avatar">
            </a>
        </li>
        <li>
            <a href="javascript:;" class="playlist__item">
                <span class="song__title">Rock'n'Roll</span>
                <span class="song__sender">Janaina da Lavoura</span>

                <img src="http://www.gravatar.com/avatar/219b9732bbea696a1e85423970e1015e" alt="" class="song__avatar">
            </a>
        </li>
        <li>
            <a href="javascript:;" class="playlist__item">
                <span class="song__title">Rock'n'Roll</span>
                <span class="song__sender">Janaina da Lavoura</span>

                <img src="http://www.gravatar.com/avatar/219b9732bbea696a1e85423970e1015e" alt="" class="song__avatar">
            </a>
        </li>
        <li>
            <a href="javascript:;" class="playlist__item">
                <span class="song__title">Rock'n'Roll</span>
                <span class="song__sender">Janaina da Lavoura</span>

                <img src="http://www.gravatar.com/avatar/219b9732bbea696a1e85423970e1015e" alt="" class="song__avatar">
            </a>
        </li>
        <li>
            <a href="javascript:;" class="playlist__item">
                <span class="song__title">Rock'n'Roll</span>
                <span class="song__sender">Janaina da Lavoura</span>

                <img src="http://www.gravatar.com/avatar/219b9732bbea696a1e85423970e1015e" alt="" class="song__avatar">
            </a>
        </li>
        <li>
            <a href="javascript:;" class="playlist__item">
                <span class="song__title">Rock'n'Roll</span>
                <span class="song__sender">Janaina da Lavoura</span>

                <img src="http://www.gravatar.com/avatar/219b9732bbea696a1e85423970e1015e" alt="" class="song__avatar">
            </a>
        </li>
    </ul>
</section>
