<div class="video__back">
    <div class="video__container container">
        <iframe class="video" src="https://www.youtube.com/embed/JyyIpIq1Pc8" frameborder="0" allowfullscreen></iframe>

        {{> playlist }}
    </div>
</div>
