.jumbotron {
    color: white;
    margin-top: 100px;
    text-align: center;
    center(container-width);

    &__wrapper {
        background-gradient-image('bg.jpg', grapefruit-high, aqua-high, 0.8);
    }
}
