.jumbotron {
    color: white;
    text-align: center;
    remify(margin-top, 100px);

    &__wrapper {
        background-gradient-image('bg.jpg', grapefruit-high, aqua-high, 0.8);
        background-size: cover;

        &--full {
            height: 100%;
        }
    }

    &__subtitle {
        remify(margin-bottom, 60px);
    }

}
