.video {
    stack();
    min-height: 400px;

    &__container {
        padding-top: 20px;
    }

    &__back {
        height: 100%;
        background-color: dark-gray-high;
        color: light-gray-low;
    }
}
