img-url(file) {
    return img-path + file;
}

font-url(file) {
    return font-path + file;
}

// gradient 50%-50% top to bottom mixin
background-gradient-image(filename, color1, color2, opacity) {
    background: linear-gradient(to bottom, rgba(color1, opacity), rgba(color2, opacity)), url(img-url(filename));
}

font-face(family, filename, weight, style = 'normal') {
    @font-face {
        font-family: family;
        src: url(font-url(filename + '.eot'));
        src: url(font-url(filename + '.eot?#iefix')) format('embedded-opentype'),
             url(font-url(filename + '.woff2')) format('woff2'),
             url(font-url(filename + '.woff')) format('woff'),
             url(font-url(filename + '.ttf')) format('truetype'),
             url(font-url(filename + '.svg#' + filename)) format('svg');
        font-weight: weight;
        font-style: style;
    }
}

remify(property, value) {
    {property}: value;
    {property}: unit(value / 14, 'rem');
}
