$list-unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
    }
}

$hover-behavior {
    &:hover {
        &:before {
            transition: color 0.3s ease;
            color: grapefruit-high;
        }
    }

    &.is-active {
        color: grapefruit-high;
    }
}
